<div class="container text-center pt-3" *ngIf="!cargando">

    <div class="row">
        <div class="col-lg-3 col-sm-6 col-12">
            <div>{{ valores?.dolar?.nombre }}</div>
            <div>{{ valores?.dolar?.valor?.toLocaleString() }} ({{valores?.dolar?.unidad_medida}})</div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
            <div>{{ valores?.euro?.nombre }}</div>
            <div>{{ valores?.euro?.valor?.toLocaleString() }} ({{valores?.euro?.unidad_medida}})</div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
            <div>{{ valores?.utm?.nombre }}</div>
            <div>{{ valores?.utm?.valor?.toLocaleString() }} ({{valores?.utm?.unidad_medida}})</div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
            <div>{{ valores?.bitcoin?.nombre }}</div>
            <div>{{ valores?.bitcoin?.valor?.toLocaleString() }} ({{valores?.bitcoin?.unidad_medida}})</div>
        </div>
    </div>

    <div class="pt-3">Creditos <a href="https://mindicador.cl" target="_blank">{{ valores?.autor }}</a> </div>

</div>

<div *ngIf="cargando">
    cargando....
</div>



<!--
<pre>{{ valores | json }}</pre>
-->